{% extends 'base.html.twig' %}

{% block stylesheets %}
  <link rel="stylesheet" href="../../public/bootstrap.min.css" />
  <link rel="stylesheet" href="../../public/style.css" />
{% endblock %}

{% block body %}
  <div class="container edit">
    <div class="col mt-5">
      {# The Event Form #}
      {{ form_start(form) }}
      {{ form_widget(form) }}
      {{ form_end(form) }}
    </div>
  </div>
{% endblock %}
