{% extends 'base.html.twig' %}

{% block body %}
  <div class="home">
    {# The Landing Page Text #}
    <div class="landing-text">
      <h1 class="display-1 text-white">
        Eventer
      </h1>
      <h3 class="text-white">
        One Website. All your events.
      </h3>
      <a href="/create-event" class="btn btn-secondary mt-3">Create an event</a>
    </div>
  </div>
{% endblock %}
