{% extends 'base.html.twig' %}

{% block body %}
  <div class="container new">
    <div class="col mt-5">
      {# The Event Form #}
      {{ form_start(form) }}
      {{ form_widget(form) }}
      {{ form_end(form) }}
    </div>
  </div>
{% endblock %}
