// Fonts
@import url('https://fonts.googleapis.com/css?family=Varela');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

#landing-image {
    width: 100%;
    height: 400px;
}

.landing-button {
    border-radius: 8px;
}

#nav-logo {
    width: 32px;
    height: 32px;
}
