#landing-container {
  height: $content-container-height;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: center;
  background-color: $dark-grey;
}

#landing-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2em;
}

.landing-text {
  color: white;
  font-weight: bold;
  text-align: center;
}

#landing-image {
  width: 100%;
  height: 300px;
  border-radius: 10%;
}

.landing-button {
  border-radius: 8px;
}

#landing-buttons {
  padding-top: 0.5em;
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  #landing-image {
    height: auto;
  }
  #landing-container {
    flex-direction: row;
  }
}
